[submodule "ILI9341_extended"]
	path = ILI9341_extended
	url = git@github.com:mean00/ILI9341_extended.git
[submodule "simplerMCP4725"]
	path = simplerMCP4725
	url = git@github.com:mean00/simplerMCP4725.git
[submodule "simpler_INA219"]
	path = simpler_INA219
	url = git@github.com:mean00/simpler_INA219.git
